@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Slab:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wave-btn {
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(40, 47, 53, 0.5);
          box-shadow: inset 0 0 50px rgba(40, 47, 53, 0.5);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: rgba(40, 47, 53, 0.5);
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
  background-color: rgba(40, 47, 53, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  font-family: "Lato";
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0px;
  padding: 5px 0 0 0;
  -webkit-transition: 0.3s top;
  transition: 0.3s top;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}
.header--fixed {
  top: -100%;
  left: 0;
  position: fixed;
  background-color: black;
}
.header--is-show {
  top: 0;
}
.header--is-show .menu__list li::after {
  content: "";
  background-color: rgba(138, 180, 248, 0.8235294118);
}
.header--is-show .menu__item {
  font-size: 16px;
  font-weight: 700;
  color: #8ab4f8;
}
.header__logo {
  padding: 5px 0 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0px;
}
.header__logo img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: logoMove linear 6s infinite;
          animation: logoMove linear 6s infinite;
}

@-webkit-keyframes logoMove {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes logoMove {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
.popup {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  -webkit-box-shadow: 4px 4px 90px 40px rgba(63, 111, 148, 0.3);
          box-shadow: 4px 4px 90px 40px rgba(63, 111, 148, 0.3);
  width: 400px;
  background: #000;
  padding: 35px;
  border-radius: 15px;
  position: relative;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 1;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  font-family: "Roboto Slab", serif;
}
.popup__content__form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
}
.popup__content input {
  width: 100%;
  height: 35px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  border-radius: 15px;
  padding: 0 0 0 10px;
}
.popup__content input:focus {
  border: 2px solid #2982ff;
  color: #333;
}
.popup__content textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding: 10px;
  margin: 0 0 5px 0;
  border-radius: 15px;
}
.popup__content textarea:focus {
  border: 2px solid #2982ff;
}
.popup__content button {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 2px solid #2982ff;
  background: #2982ff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 15px;
}
.popup__content button:hover {
  background: #fff;
  color: #2982ff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
}

._error input {
  -webkit-box-shadow: 0 0 15px #ff2929;
          box-shadow: 0 0 15px #ff2929;
}

.open.popup {
  opacity: 1;
  visibility: visible;
}

.open .popup__content {
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
}

.label {
  width: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.label__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
  margin: 5px 0px;
}

label._error {
  color: red;
}
label._error input {
  -webkit-animation: 0.1s tremor ease-out 3;
          animation: 0.1s tremor ease-out 3;
}
label._error__text {
  color: red;
}

@-webkit-keyframes tremor {
  0% {
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  25% {
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  50% {
    left: 1px;
    top: 1px;
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    left: 1px;
    top: 1px;
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@keyframes tremor {
  0% {
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  25% {
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  50% {
    left: 1px;
    top: 1px;
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    left: 1px;
    top: 1px;
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
.success {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 70;
  bottom: 0;
  right: -100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.success__body {
  background-color: rgb(28, 209, 104);
  border: 2px solid #000;
  padding: 2px 2px 10px 2px;
  border-top-left-radius: 5px;
}
.success__text {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  padding: 0 0 5px 0;
  position: relative;
  font-weight: 500;
}
.success hr {
  margin: 3px 0 0 0;
  border: 2.5px solid rgba(2, 2, 2, 0.3764705882);
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 15px;
  -webkit-transform: scaleX(100.6%);
          transform: scaleX(100.6%);
}

.success._successful {
  opacity: 1;
  visibility: visible;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: disappear ease 0.5s 7s forwards;
          animation: disappear ease 0.5s 7s forwards;
}
.success._successful hr {
  animation: line linear 7s reverse forwards;
}

@-webkit-keyframes disappear {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes disappear {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@-webkit-keyframes line {
  0% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
  0% {
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
  }
}
@keyframes line {
  0% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
  0% {
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
  }
}
.menu__list {
  -webkit-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  padding: 0px 37.5px;
  position: relative;
  font-family: "Roboto Slab", serif;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
.menu__list li::after {
  content: "";
  position: absolute;
  margin: 2px 0 0 0;
  top: 50%;
  left: 0;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
}
.menu__list li:nth-child(1):after, .menu__list li:nth-child(3):after {
  content: none;
}
.menu__item {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  -webkit-transition: color 0.6s ease, -webkit-transform 0.6s ease;
  transition: color 0.6s ease, -webkit-transform 0.6s ease;
  transition: color 0.6s ease, transform 0.6s ease;
  transition: color 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
  position: relative;
  padding: 2px;
}
.menu__item::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  background-color: #bfdc36;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__item:hover {
  color: #ff614c;
}
.menu__item:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 1100px) {
  .menu__list li {
    padding: 0px 17.5px;
  }
  .menu__list li:nth-child(2) {
    padding: 0px 90px 0px 17.5px;
  }
  .menu__list li:nth-child(3) {
    padding: 0px 17.5px 0px 90px;
  }
  .menu__item {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
  }
}
@media screen and (max-height: 900px) {
  .title-screen__title p {
    font-size: 65px;
  }
  .menu__item {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
  }
}
.title-screen {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 9%;
  padding: 5px 0 0 0;
  margin: 0 0 0 15%;
}
.title-screen__title {
  margin: 2% 0 0 0;
  font-family: "Roboto Slab", serif;
  font-size: 85px;
  font-weight: bold;
}
.title-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-screen {
  margin: 50px 0 0 0;
}
.menu-screen__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-screen__list li {
  margin: 0px 70px 25px 0;
}
.menu-screen__list a span {
  border: none;
}
.menu-screen__list img {
  height: 25vh;
  border: 1px solid black;
  border-radius: 10%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu-screen__list img:hover {
  -webkit-box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.521);
          box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.521);
  -webkit-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

.arrow {
  position: absolute;
  width: 100%;
  z-index: 40;
  left: 0;
  top: 90%;
}
.arrow__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arrow__img {
  padding: 5px 0 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: arrow 1.3s ease infinite;
          animation: arrow 1.3s ease infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  50% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
.start {
  background-color: #202124;
  position: relative;
  z-index: 3;
  padding: 100px 0 20px 0;
  font-family: "Roboto Slab", serif;
}
.container {
  max-width: 1100px;
  margin: 0px auto;
}
.container__swiper {
  max-width: 900px;
  margin: 0px auto;
}

.block {
  background-color: #202124;
  text-align: center;
}
.block__title {
  margin: 35px 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #525658;
}
.block__title_slider {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  margin: 35px 0 0 0;
  color: #38a3d8;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  position: relative;
}
.block__text_j {
  font-size: 16px;
  line-height: 30px;
}
.block__text_j::after {
  content: "";
  display: block;
  margin: 30px auto;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
}
.block__text_s {
  text-align: left;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  margin: 10px 0 0 0;
  padding: 0 80px 0 40px;
  position: relative;
}
.block__3d {
  position: absolute;
  top: 45%;
  left: 0;
  opacity: 0.5;
}
.block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  opacity: 0.8;
}
.block__image img {
  border: 3px solid rgb(35, 119, 175);
}
.block__first-list li {
  margin: 10px 0;
  position: relative;
  padding: 0 0 0 20px;
}
.block__first-list li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 0;
  background-color: rgba(44, 189, 25, 0.45);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.block__first-list li:hover:before {
  content: "";
  background-color: rgb(30, 255, 0);
}
.block__second-list li {
  margin: 10px 0;
  position: relative;
  padding: 0 0 0 20px;
}
.block__second-list li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 0;
  background-color: rgba(206, 28, 28, 0.45);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.block__second-list li:hover:before {
  content: "";
  background-color: rgb(255, 0, 0);
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.like__likes {
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}
.like img {
  margin: 0 0 0 10px;
  width: 50px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(73, 150, 73, 0.288);
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__logo span {
  margin: 14px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.slider {
  background-color: #282f35;
  padding: 10px 0 0px 0;
  text-align: center;
}
.slider__block {
  background-color: #282f35;
}
.slider__body {
  padding: 55px 0 0 0;
}
.slider__logo {
  margin: 0 0 15px 0;
}
.slider__title {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.slider__title span {
  font-weight: 300;
  color: #848789;
}
.slider__text_m blockquote {
  color: #5F5F5F;
  padding: 10px 10px 10px 60px;
  position: relative;
  font-family: "Roboto Slab", serif;
}
.slider__text_m blockquote:before {
  content: "🙶";
  position: absolute;
  z-index: 2;
  left: 0px;
  top: -4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  color: #F2EAD7;
  font-size: 50px;
  background: rgba(188, 231, 250, 0.7);
}
.slider__text_m blockquote:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(242, 124, 176, 0.7);
}
.slider__text_m blockquote p {
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin: 0 0 16px;
  position: relative;
  z-index: 3;
}
.slider__text_m blockquote span {
  font-size: 16px;
  position: relative;
  left: -35%;
  top: 0;
  font-weight: 500;
  text-align: left;
}
.slider__text_a blockquote {
  margin: 0;
  color: #5F5F5F;
  padding: 10px 10px 10px 60px;
  position: relative;
  border-left: 35px solid #DFDEDE;
  font-family: "Lato", sans-serif;
}
.slider__text_a blockquote:before {
  content: "“";
  font-family: serif;
  position: absolute;
  left: -29px;
  top: 5px;
  color: #000000;
  font-size: 50px;
  text-shadow: 1px 2px 0 white;
}
.slider__text_a blockquote p {
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin: 0 0 16px;
  position: relative;
  z-index: 3;
}
.slider__text_a blockquote span {
  font-size: 16px;
  position: relative;
  left: -25%;
  top: 0;
  font-weight: 500;
  text-align: left;
}
.slider__text_e blockquote {
  margin: 0;
  color: #5F5F5F;
  padding: 10px 10px 10px 60px;
  position: relative;
  font-family: "Lato", sans-serif;
}
.slider__text_e blockquote:before {
  content: "“";
  font-family: serif;
  position: absolute;
  top: 20px;
  left: 16px;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.slider__text_e blockquote:after {
  content: "";
  width: 4px;
  background: white;
  position: absolute;
  left: 70px;
  top: 20px;
  bottom: 20px;
}
.slider__text_e blockquote p {
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin: 0 0 0;
  position: relative;
  z-index: 3;
}
.slider__text_e blockquote span {
  font-size: 16px;
  position: relative;
  left: -30%;
  top: 0;
  font-weight: 500;
  text-align: left;
}

.swiper {
  width: 100%;
  height: 450px;
}
.swiper .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
}
.swiper .swiper-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper .swiper-button-next::after {
  margin: 0 25px 0 0;
  font-size: 95px;
  color: rgba(0, 123, 255, 0.589);
}
.swiper .swiper-button-next:hover::after {
  color: rgb(0, 123, 255);
}
.swiper .swiper-button-next:active::after {
  color: rgb(0, 162, 255);
}
.swiper .swiper-button-prev::after {
  margin: 0 -25px 0 0;
  font-size: 95px;
  color: rgba(0, 123, 255, 0.589);
}
.swiper .swiper-button-prev:hover::after {
  color: rgb(0, 123, 255);
}
.swiper .swiper-button-prev:active::after {
  color: rgb(0, 162, 255);
}

.gallery {
  background-color: #282f35;
  padding: 90px 0 0 0;
}
.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}
.gallery__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.gallery__foooter {
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0 100px 0;
}

.block-gallery {
  height: 100%;
}
.block-gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-gallery__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block-gallery__item {
  height: auto;
  padding: 0 0 50% 0;
}
.block-gallery__item_l {
  padding: 0 0 100% 0;
}
.block-gallery__item_b {
  padding: 0 0 200% 0;
}

.footer {
  background-color: #333;
  padding: 40px 20px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__copy p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #8ab4f8;
  margin: 0 0 5px 0;
}
.footer__images {
  text-align: center;
}
.footer__images img {
  margin: 0 5px;
}
.footer__by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__by img {
  margin: 0 0 0 10px;
}
.footer span {
  font-size: 14px;
  font-weight: 400;
  color: #bdc1c6;
}
.footer span a {
  color: #8ab4f8;
}
.footer span a:active {
  color: #d6133e;
}